@media (min-width: 767px) {
  .lending__line {
    background-image: url(../img/groupA.png);
    background-repeat: no-repeat;
    background-position: right 0% bottom 19%;
  }
}

@media (min-width: 1420px) {
  .contact__input {
    padding-left: 110px;
  }
}

@media (max-width: 1420px) {
  .page {
    background-image: none;
  }
}

@media (max-width: 1161px) {
  .about {
    padding-top: 53px;
    padding-bottom: 53px;
  }

  .about__title {
    padding-top: 0;
  }

  .about__description {
    padding-top: 30px;
  }

  .back_services {
    margin-top: 154px;
  }
}

@media (max-width: 1160px) {
  .about__title {
    padding-top: 53px;
  }

  .about__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .about__description {
    padding-top: 30px;
    padding-left: 0;
  }
}

@media (max-width: 767px) {
  .about__title {
    font-family: "Alata-Regular";
    font-weight: 400;
    line-height: 100px;
    font-size: 40px;
    padding-top: 0;
  }

  .about__description p {
    max-width: 290px;
    font-weight: 300;
    font-family: "Sofia-Pro";
    line-height: 24px;
    font-size: 14px;
  }

  .about__title:after {
    content: '';
    display: block;
    margin: 22px -2px;
    width: 0;
    height: 4px;
    border-left: 32px #f6d330 solid;
    border-right: 32px #f6d330 solid;
  }

  .services__title {
    padding-top: 0;
    font-size: 40px;
    line-height: 100px;
  }

  .services__description p {
    text-align: left;
    font-family: "Sofia-Pro";
    line-height: 24px;
    font-size: 14px;
    font-weight: 300;
  }

  .subtitles {
    padding-top: 0px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .subtitles__col_group {
    padding-top: 25px;
  }

  .subtitles__col_group ul li {
    list-style-type: square;
    color: white;
    padding-top: 5px;
  }

  .subtitles__col_group ul li span {
    padding-left: 4px;
    font-family: "Sofia-Pro";
    line-height: 16px;
    font-size: 14px;
    font-weight: 300;
    color: #000;
  }

  .services__description_bottom {
    padding-top: 40px;
    padding-bottom: 60px;
  }

  .services__description_bottom p {
    text-align: left;
    font-family: "Sofia-Pro";
    line-height: 24px;
    font-size: 14px;
    font-weight: 300;
  }

  .subtitles__col {
    padding-top: 55px;
  }

  .subtitles__col:not(:first-child) {
    padding-left: 0px;
  }

  .subtitles__col_main p {
    font-family: "Sofia-Pro";
    line-height: 50px;
    font-size: 25px;
    font-weight: 700;
  }

  .contact__input_form.btn__send {
    padding-left: 98px;
  }

  .btn__footer {
    width: 196px;
    height: 48px;
  }

  #input_name,
  #input_email {
    max-width: 290px;
  }

  .contact__title_main p {
    font-family: "Alata-Regular";
    font-weight: 400;
    line-height: 100px;
    font-size: 40px;
    padding-top: 55px;
  }

  .contact__title_main p:after {
    content: '';
    display: block;
    margin: 22px -2px;
    width: 0;
    height: 4px;
    border-left: 32px #f6d330 solid;
    border-right: 32px #f6d330 solid;
  }

  .contact__title_link {
    max-width: 290px;
  }

  .contact__title_link p {
    color: white;
    font-family: "Sofia-Pro";
    line-height: 35px;
    font-size: 25px;
    font-weight: 700;
  }

  .contact__input_text p {
    font-family: "Sofia-Pro";
    line-height: 35px;
    font-size: 25px;
    font-weight: 700;
  }

  .contact__input {
    padding-top: 46px;
  }

  .info_title {
    font-size: 50px;
  }

  .scroll {
    display: none;
  }

  .btn {
    padding-bottom: 70px;
  }

  .burger__btn.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-top: 270px;
  }

  .header__burger {
    right: 20px;
  }

  .header__logo.active {
    opacity: 0;
  }

  .header__body.active {
    background-image: url("../img/Group-burger.png");
    background-repeat: no-repeat;
    background-position: right 94% bottom 50%;
    background-color: black;
    width: 100%;
  }

  .content.active {
    width: 100%;
  }

  body.lock {
    overflow: hidden;
  }

  .header__body {
    height: 78px;
  }

  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 13px;
    position: relative;
    z-index: 3;
  }

  .header__burger:before,
  .header__burger:after {
    content: '';
    background-color: #000;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .header__burger:before {
    top: 0;
  }

  .header__burger:after {
    bottom: 0;
  }

  .header__burger.active:before {
    background-color: white;
    top: 2px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .header__burger.active:after {
    background-color: white;
    bottom: 9px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  .header__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    text-align: center;
    padding-top: 140px;
  }

  .header__menu.active {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    top: 0;
    text-align: -webkit-center;
  }

  .header__list {
    display: block;
  }

  .header__list li {
    width: 50%;
    margin: 0 0 20px 0px;
  }

  .header__link {
    font-size: 40px;
    line-height: 40px;
    font-family: "Sofia-Pro";
  }
}

@media (max-width: 540px) {
  .about__img img {
    -o-object-fit: cover;
    object-fit: cover;
    width: 290px;
    height: 180px;
  }
}