@font-face {
  font-family: "Alata-Regular";
  font-display: swap;
  src: url("../fonts/Alata-Regular.woff") format("woff"), url("../fonts/Alata-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

.page__number_about {
  background-repeat: no-repeat;
  background-position: right center;
  background-image: url("../img/groupA.png");
}

.about {
  height: 759px;
  padding-top: 148px;
}

.about__title {
  color: black;
  text-align: left;
  font-family: "Alata-Regular";
  font-weight: 400;
  line-height: 100px;
  font-size: 90px;
}

.about__title:after {
  content: '';
  display: block;
  margin: 50px -2px;
  width: 0;
  height: 6px;
  border-left: 50px #f6d330 solid;
  border-right: 50px #f6d330 solid;
}

.about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 5px;
}

.about__description {
  padding-left: 68px;
  width: 490px;
  height: 315px;
}

.about__description p {
  font-family: "Sofia-Pro";
  line-height: 26px;
  font-size: 18px;
}

.about__numbers {
  width: 135px;
  height: 141px;
}

.back_services {
  background-color: #F6D330;
}

.page__number_services {
  background-repeat: no-repeat;
  background-position: right center;
  background-image: url("../img/servs-page.png");
}

.services__title {
  padding-top: 101px;
  color: black;
  text-align: left;
  font-family: "Alata-Regular";
  font-weight: 400;
  line-height: 80px;
  font-size: 90px;
}

.services__title:after {
  content: '';
  display: block;
  margin: 62px -1px 42px;
  width: 0;
  height: 6px;
  border-left: 50px white solid;
  border-right: 50px white solid;
}

.services__description {
  max-width: 837px;
  max-height: 118px;
}

.services__description p {
  text-align: left;
  font-family: "Sofia-Pro";
  line-height: 26px;
  font-size: 18px;
  font-weight: 300;
}

.services__description_bottom {
  max-width: 837px;
  max-height: 118px;
  padding-top: 67px;
  padding-bottom: 92px;
}

.services__description_bottom p {
  text-align: left;
  font-family: "Sofia-Pro";
  line-height: 26px;
  font-size: 18px;
  font-weight: 300;
}

.services .subtitles {
  padding-top: 47px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.services .subtitles__col:not(:first-child) {
  padding-left: 30px;
}

.services .subtitles__col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.services .subtitles__col_main {
  font-family: "Sofia-Pro";
  line-height: 42px;
  font-size: 40px;
  font-weight: 700;
}

.services .subtitles__col_group {
  padding-top: 33px;
}

.services .subtitles__col_group ul {
  padding-left: 15px;
  list-style: none;
}

.services .subtitles__col_group ul li {
  list-style-type: square;
  color: white;
  padding-top: 5px;
}

.services .subtitles__col_group ul li span {
  padding-left: 4px;
  font-family: "Sofia-Pro";
  line-height: 26px;
  font-size: 18px;
  font-weight: 300;
  color: #000;
}

.services .subtitles__col .btn__arrow:before {
  content: '';
  display: block;
  margin: 0px -36px -11px;
  width: 33px;
  height: 2px;
  border-left: 33px white solid;
}

.services .subtitles__col .btn__arrow {
  padding-top: 41px;
  padding-left: 55px;
}

.services .subtitles__col .btn__arrow .arrow {
  border: solid white;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
}

.services .subtitles__col .btn__arrow .right {
  -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

* {
  margin: 0;
  padding: 0;
  /*box-sizing: border-box;*/
}

.App {
  max-width: 1640px;
  font-family: 'Roboto', sans-serif;
}

.menu__burger {
  display: none;
}

.content {
  width: 90%;
  max-width: 1110px;
  margin: 0 auto;
}

.page__number_home {
  background-image: url("../img/home-number.png");
  background-repeat: no-repeat;
  background-position: right center;
}

.lending {
  max-height: 1584px;
  background: url("../img/back.jpg") no-repeat center top;
}

.header {
  padding-top: 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.header__logo {
  width: 25%;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  list-style-type: none;
  width: 75%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header__menu_item {
  padding-left: 66px;
}

.menu_link {
  overflow: hidden;
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.menu_link:hover {
  color: black;
  text-decoration: none;
  border-bottom: 1px solid #F6D330;
}

.menu_link:after {
  content: '';
  display: block;
  margin-top: 26px;
  width: 2px;
  height: 2px;
  color: #F6D330;
}

.info {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 31%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.info_support {
  text-align: center;
  font-size: 23px;
  color: white;
}

.info_title {
  text-align: center;
  font-size: 100px;
  color: white;
}

.info_titles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.btn {
  padding-top: 79px;
  text-align: center;
}

.btn__main {
  border: none;
  width: 196px;
  height: 48px;
  background-color: #F6D330;
  background-image: url("../img/btng.png");
  background-repeat: no-repeat;
  background-position: right 21% bottom 48%;
}

.btn__main .btn_text {
  margin-left: -16%;
  text-transform: uppercase;
  color: black;
  font-weight: 800;
}

.scroll {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 14%;
  color: rgba(255, 255, 255, 0.7);
  text-align: center;
}

.scroll__line {
  margin-left: 50%;
  border-left: 6px solid #F6D330;
  height: 101px;
  width: 1px;
}

.scroll__text {
  padding-top: 29px;
}

@media (min-width: 767px) {
  .lending__line {
    background-image: url(../img/groupA.png);
    background-repeat: no-repeat;
    background-position: right 0% bottom 19%;
  }
}

@media (max-width: 1160px) {
  .about__title {
    padding-top: 53px;
  }

  .about__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .about__description {
    padding-top: 30px;
    padding-left: 0;
  }
}

@media (max-width: 767px) {
  .info_title {
    font-size: 50px;
  }

  .scroll {
    display: none;
  }

  .burger {
    width: 100%;
    height: 100%;
  }

  .menu__burger {
    margin-top: 29px;
    display: block;
    position: relative;
    width: 25px;
    height: 25px;
  }

  .menu__burger_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .menu__burger_container_nav {
    margin-top: 10%;
    padding-top: 80px;
    position: fixed;
    z-index: 20;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: white;
    overflow-y: auto;
  }

  .menu__burger:before,
  .menu__burger:after {
    content: "";
    background-color: black;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
  }

  .menu__burger:before {
    top: 14px;
  }

  .menu__burger:after {
    bottom: 0;
  }

  .header__menu {
    display: none;
  }

  .menu-burger_active::before {
    top: 0;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .menu-burger_active::after {
    top: 0;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-burger_active {
    background-color: #000000;
    height: 78px;
  }

  .burger_link {
    padding: 30px;
    font-family: "Sofia-Pro";
    line-height: 40px;
    font-weight: bold;
    font-size: 40px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #000000;
  }

  .burger_link:hover {
    -webkit-filter: brightness(0.7);
            filter: brightness(0.7);
  }
}